# VCS
.git

# CI/CD
.github

# IDE
.idea
.vscode

# Python
__pycache__
*.pyc
*.pyo
.venv
.ruff_cache
.pytest_cache

# AI tools
.claude
.qarium
.ralphex

# Development files
.goga/
.strictacode.yml
tests
docs
plans
mkdocs.yml
README.md
